:root {
  --blanco: #e0e0e0;
  --blanco-2: rgba(255, 255, 255, .2);
  --negro: #181818;
  --negro-5: rgba(0, 0, 0, 0.5);
  --negro-7: rgba(0, 0, 0, 0.5);
  --fucsia: #E91E63;
  --tipo-titular: 'Playfair Display', serif;
  --tipo-principal: 'Inter', sans-serif;
}

@media screen and (prefers-color-scheme:light) {
  :root {
    --blanco: #181818;
    --blanco-2: rgba(0, 0, 0, .2);
    --negro: #e0e0e0;
    --negro-5: rgba(255, 255, 255, 0.5);
    --negro-7: rgba(255, 255, 255, 0.75);
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
figure {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  /* cursor: none; */
}

video {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

form,
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  display: flex;
  color: inherit;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  min-height: 100vh;
  background-color: var(--negro);
  color: var(--blanco);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
}

.circulos {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  filter: blur(40px);
  animation: circulo1 30s linear infinite both;

}

.circulos .circulo {
  position: absolute;
  width: 50%;
  height: 50%;
  animation: circulo1 50s linear infinite both;
}

.circulos .circulo1 {
  top: 0%;
  left: 0%;

}

.circulos .circulo1 .path {
  fill: #2e8b57;
}

.circulos .circulo2 {
  top: 0%;
  right: 0%;
}

.circulos .circulo2 .path {
  fill: rgb(111, 0, 155);
}

.circulos .circulo3 {
  bottom: 0%;
  left: 0%;
}

.circulos .circulo3 .path {
  fill: rgb(165, 127, 1);
}

.circulos .circulo4 {
  bottom: 0%;
  right: 0%;
}

.circulos .circulo4 .path {
  fill: rgb(0, 59, 155);
}


.header {
  width: 100%;
  min-height: 5em;

  color: #fff;
  padding: 1em 2em;

  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;

}

.header .ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  animation: aparecer1 2s ease 1 backwards;

}

.header .li {
  margin: 0 1em;

}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;


}

.switch>span {
  position: absolute;

  top: 14px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;

}

input.check-toggle-round-flat:checked~.off {
  color: #fff;
}

input.check-toggle-round-flat:checked~.on {
  color: #fff;
}

.switch>span.on {
  left: 0;
  padding-left: 2px;
  color: #fff;
}

.switch>span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle+label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat+label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat+label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit--moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #E91E63;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}



input.check-toggle-round-flat:checked+label:after {
  margin-left: 44px;
}

.div .rrss {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.div .svg {
  width: 2em;
  height: 2em;

}



.menu a {
  font-size: 20px;

  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  padding: 4px 0;
}

.menu a::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}

.menu a:hover::before {
  transform: scale3d(1, 1, 1);
}

.menu-1 a::before {
  background: #E91E63;
  transform-origin: 100% 50%;
}

.menu-1 a:hover::before {
  transform-origin: 0 50%;
}

.main {
  background: var(--negro-7);
  margin: 0 0 1em;
  text-align: center;
  position: relative;
  z-index: 2;
}

.seccion {
  width: 100%;
  min-height: 90vh;
  padding: 2em;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.seccion .info {
  font-size: 1.2em;
  animation: aparecer1 2s ease 1 both;

}

.seccion .ul {
  /* background: red; */
  margin: 2em 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.seccion .ul .li {
  /* background: chartreuse; */
  margin: 0 1em;
}

.seccion .ul .a {
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 50%;
  padding: 1em 1em 1em;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .5s ease;
  animation: aparecer1 2s ease 1 backwards;
}

.seccion .ul>:nth-child(2) .a {
  animation-delay: .2s;
}

.seccion .ul .a:hover {
  border-color: var(--blanco);
}

.seccion .h2 {
  font-family: var(--tipo-titular);
  font-weight: 600;
  font-size: 5em;
  line-height: 1em;
  color: var(--blanco);
  mix-blend-mode: exclusion;

}

.seccion .h3 {
  font-family: var(--tipo-titular);
  font-size: 4.3em;
}

.seccion .grid {
  width: 90%;
  max-width: 70em;
  margin: 1em 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1.5em;
}



.seccion .article {
  width: 100%;

  /* background: lightgoldenrodyellow; */

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
  border-radius: 1em;

}




.seccion .h4 {
  width: 100%;
  height: 100%;
  background-color: var(--negro-5);
  backdrop-filter: blur(1rem);
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  color: var(--blanco);
  font-size: 1.8em;
  font-family: var(--tipo-titular);
  font-style: italic;
  opacity: 0;
  transform: translateZ(1) scale(1.5);
  transition: all .5s ease;
}

.seccion .article:hover .h4 {
  opacity: 1;
  transform: translateZ(1) scale(1);
}

.works {
  color: var(--blanco);
}

.works .h2 {
  margin: 0 0 5rem;
  color: inherit;

}

.detail-work .ul .a {
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 50%;
  padding: 0.5em 0.5em 0.5em;

  font-weight: 600;
  transition: all .5s ease;
  animation: aparecer1 2s ease 1 backwards;
}

.detail-work .ul>:nth-child(2) .a {
  animation-delay: .2s;
}

.detail-work .ul .a:hover {
  border-color: var(--fucsia);
}

.detail-work .p {
  font-size: 1.1em;
  text-align: center;
}

.about .h2 {
  margin: 0 0 5rem;
}

.about .p {
  max-width: 40rem;
  margin: 0 0 2rem;
  font-size: 1.1em;
  text-align: left;
}

.about .rrss {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

}

.about .li {
  margin: 0 2em;
}

.about .svg {
  width: 5em;
  height: 5em;
}

.about .img {
  width: 4em;
  height: 4em;
}

.tecnologias .h2 {
  margin: 0 0 5rem;
}



.tecnologias .p {
  max-width: 60rem;
  margin: 0 0 2rem;
  font-size: 1.4em;
  text-align: left;
}


.tecnologias .rrss {
  display: grid;
  grid-template-rows: 1fr,
    20px,
    10%,
    auto,
    repeat(4, 100px),
    minmax(20px, auto);
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(auto-fill, 30em); */
}

.tecnologias .li {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 2em;
}



.tecnologias .img {
  width: 4em;
  height: 4em;
}

.rrss .p {
  margin-top: 0.5em;
  font-weight: 600;
}

.scrollTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 10px;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.scrollTop .img {
  background-color: #fff;
}

.footer {
  padding: 2em 0;
  text-align: center;
  color: var(--blanco);
  position: relative;
  z-index: 2;
}


@keyframes circulo1 {
  from {
    transform: rotate(0deg) scale(2);
  }

  to {
    transform: rotate(360deg) scale(2);
  }
}

@keyframes aparecer1 {
  from {
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

#cursor {
  width: 3.5em;
  height: 3.5em;
  background-color: var(--blanco);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: difference;

}

#cursor.mini {
  transform: scale(0.7);
}

@media (max-width: 768px) {

  .header {
    padding: 1em 0.5em;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-items: center;
  }

  .seccion .grid {
    width: 90%;
    max-width: 70em;
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
  }

  .tecnologias .rrss {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .tecnologias .p {
    font-size: 1.3em;
  }

  .seccion .h2 {

    font-size: 3em;


  }

  .seccion .h3 {

    font-size: 3.3em;
  }
}


@media (max-width: 576px) {
  .seccion .grid {
    width: 90%;
    max-width: 70em;
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
  }

  /* .header .li {
    margin: 0 0.3em;
  } */

  /* .nav .ul {
    display: flex;

  } */

  .tecnologias .rrss {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .tecnologias .p {
    font-size: 1.3em;
  }

  .seccion .h2 {
    font-size: 3em;
  }

  .seccion .h3 {
    font-size: 3.3em;
  }
}

@media (max-width:500px) {
  input.check-toggle-round-flat+label {
    width: 98px;
  }

  .header .li {
    margin: 0.8em 0.5em;
  }

  .menu a {
    font-size: 15px;
  }

  /* .nav .ul {
    font-size: small;

  } */
}

@media (max-width: 480px) {
  .tecnologias .rrss {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .seccion .grid {
    width: 90%;
    max-width: 70em;
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 1em;
  }

  .seccion .ul .li {
    margin: 0.5em 0;
  }

  .seccion .h2 {
    font-size: 2em;
  }

  .seccion .h3 {
    font-size: 2.2em;
  }

  .seccion {
    padding: 1em;
  }

  .tecnologias .img {
    width: 3em;
    height: 3em;
  }

  .tecnologias .p {
    font-size: 1.1em;
  }

  .rrss .p {
    margin-top: 0.5em;

    font-size: 1em;
  }

  .detail-work .p {
    font-size: 0.9em;
    text-align: center;
  }

  .about .rrss {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
  }

  .about .li {
    margin: 0 1em;
  }

  .about .svg {
    width: 3em;
    height: 3em;
  }
}

@media (max-width: 380px) {
  .div .svg {
    width: 1.3em;
    height: 1.3em;
  }

  .switch {
    margin: 1em 7.5em 0;
  }
}